<div>
    <mat-grid-list cols="4" rowHeight="65px">
        <mat-grid-tile
                [colspan]="1"
                [rowspan]="1">
            <button mat-raised-button (click)="saveBtnAction()">save</button>
            <button mat-raised-button (click)="resetBtnAction()">reset</button>
        </mat-grid-tile>
        <mat-grid-tile
                [colspan]="1"
                [rowspan]="1">
            qwe2
        </mat-grid-tile>
        <mat-grid-tile
                [colspan]="2"
                [rowspan]="8">
            <mat-form-field style="width: 100%;">
                <mat-label>Configuration</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="25"
                          [(ngModel)]="cfg"
                          name="cfg"
                ></textarea>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
                [colspan]="2"
                [rowspan]="1">
            <mat-form-field style="width: 100%;">
                <mat-label>Dictionary</mat-label>
                <mat-select #selectDictControl [(value)]="activeDict" (selectionChange)="selectDict()">
                    <mat-option [value]=null>default</mat-option>
                    <mat-option *ngFor="let dict of dicts" [value]="dict">
                        {{dict.name}} (default: {{dict.default_locale}}; target: {{dict.target_locale}})
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
                [colspan]="2"
                [rowspan]="1">
            <mat-form-field style="width: 100%;">
                <input matInput disabled placeholder="Name" value="{{activeDict?.name}}">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
                [colspan]="2"
                [rowspan]="1">
            <mat-form-field style="width: 100%;">
                <input matInput disabled placeholder="Default locale" value="{{activeDict?.default_locale}}">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
                [colspan]="2"
                [rowspan]="1">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Target locale" value="{{activeDict?.target_locale}}">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
                [colspan]="2"
                [rowspan]="1">
            <mat-form-field style="width: 100%;">
                <mat-label>Address</mat-label>
                <mat-select #selectAddressControl [(value)]="activeTab">
                    <mat-option [value]=null>Address</mat-option>
                    <mat-option *ngFor="let tab of tabs" [value]="tab">
                        {{tab.url}} (title: {{tab.title}})
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
                [colspan]="2"
                [rowspan]="1">
            <mat-form-field style="width: 100%;">
                <input matInput disabled placeholder="Title" value="{{activeTab?.title}}">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
                [colspan]="2"
                [rowspan]="1">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Address" value="{{activeTab?.url}}">
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile
                [colspan]="2"
                [rowspan]="1">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Address</mat-radio-button>
                <mat-radio-button value="2">Address (starts with)</mat-radio-button>
                <mat-radio-button value="3">Address (ends with)</mat-radio-button>
                <mat-radio-button value="4">Domain</mat-radio-button>
            </mat-radio-group>
        </mat-grid-tile>
    </mat-grid-list>
</div>